@use "sass:math";

body{
  margin:0;
  line-height:0;
  -webkit-text-size-adjust:100%; // -- iOSフォントアジャスト回避
}// -- /body


// -- PC,Print --
@media (min-width:768px), print{


}// -- /@media (min-width:768px), print


// -- OverSize --
@media (min-width:1920px){


}// -- @media (min-width:1920px)
